* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
}

.col-1 {
    background: #D7E8D4;
    flex: 1;
}

.col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.content {
    display: flex;
    flex-direction: row;
}

    .content > article {
        flex: 4;
        min-height: 74vh;
    }

header, footer {
    height: 13vh;
}

header, footer, article, nav {
    padding: 1em;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float;
}

li.navbar {
    margin-top: 5px;
    margin-bottom: 5px;
}

a:link, a:visited {
    display: block;
    ;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: rgb(255, 255, 255, 0) !important;
}

.primary {
    background-color: mediumpurple !important;
}

.secondary {
    background-color: mediumaquamarine !important;
}

.accent {
    background-color: hotpink !important;
}

.primary-text {
    color: yellowgreen !important;
}

.secondary-text {
    color: lightcoral !important;
}

.logo {
    padding: 7px;
}
