* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
}

.col-1 {
    flex: 1;
}

.col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
    justify-content:space-between
}

.content {
    display: flex;
    flex-direction: row;
}

    .content > article {
        flex: 4;
        min-height: 74vh;
    }

header, footer {
    height: 10%;
}

header, footer, article, nav {
    padding: 1em;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float;
}

li.navbar {
    margin-top: 5px;
    margin-bottom: 5px;
}

a:link, a:visited {
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: rgb(0, 255, 255, 0) !important;
}

.primary {
    background-color: mediumpurple !important;
}

.secondary {
    background-color: mediumaquamarine !important;
}

.accent {
    background-color: hotpink !important;
}

.primary-text {
    color: red !important;
}

.secondary-text {
    color: blue !important;
}

.logo {
    padding: 7px;
}

#mainHeader {
    text-align: center;
    margin: auto;
    flex-grow: 2;
}

.mobileMenu {
}

#footerText {
    margin:3px;
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
}